.root
{
    -fx-background-color: null;
}

.workbench-pane
{
    -fx-background-color: whitesmoke;
}

.label .text
{
    -fx-font-smoothing-type: gray;
}
/*
 * Switcher styles
*/
.switcher
{
    -fx-spacing: 20;
    -fx-pref-width: 210;
    -fx-padding: 40 20 0 20;
    -fx-background-color: #1A1A1A;
}

.switcher.compact
{
    -fx-padding: 10 10 0 10;
    -fx-pref-width: 66;
}

.switcher-button
{
    -fx-padding: 10 30 10 10;
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-border-style: solid;
    -fx-font: 16 'Ubuntu';
}

.switcher-button .text
{
    -fx-font-smoothing-type: gray;
}

.switcher-button:selected,
.switcher-button:hover
{
    -fx-background-color: linear-gradient(#4187DC, #3975BF);

    -fx-border-color: rgba(255, 255, 255, 0.4);
}

.switcher-button > .switcher-svg
{
    -fx-fill: white;
    -fx-alignment: center;
}

.switcher-button.compact
{
    -fx-content-display: graphic-only;
    -fx-padding: 10 10 10 10;
}

/*
 * Collection grid view styles
 */
.collection-grid
{
    -fx-padding: 0 10 0 0;
}
 
.collection-grid .scroll-bar,
.collection-grid .scroll-bar .track,
.collection-grid .scroll-bar .track-background
{
    -fx-background-color: null; 
    -fx-border-color: null;
    -fx-padding: 20;
}
.collection-grid .scroll-bar .thumb
{
    -fx-background-color: silver;
    -fx-background-radius: 3;
}
.collection-grid .scroll-bar .thumb:hover
{
    -fx-background-color: cornflowerblue;
}
.collection-grid .scroll-bar:vertical .increment-button,
.collection-grid .scroll-bar:vertical .decrement-button,
.collection-grid .scroll-bar:vertical .increment-arrow,
.collection-grid .scroll-bar:vertical .decrement-arrow
{
    visibility: hidden;
}


/* TODO: Continue with this*/
/*.switcher-button#collection .test-region*/
/*{*/
    /*-fx-shape: "m -24.971428,-13.142857 0,10.2857142 L -16.4,-8 -24.971428,-13.142857 z M -4.4,0.5714284 l 0,2.0571432 C -4.4,3.3859426 -5.0144,4 -5.7714284,4 L -36.628572,4 C -37.385943,4 -38,3.3859426 -38,2.6285716 l 0,-2.0571432 3.428572,0 0,-3.4285712 -3.428572,0 0,-3.4285714 3.428572,0 0,-3.428571 -3.428572,0 0,-3.4285718 3.428572,0 0,-3.428571 -3.428572,0 0,-2.057144 C -38,-19.385942 -37.385943,-20 -36.628572,-20 l 30.8571436,0 C -5.0144,-20 -4.4,-19.385942 -4.4,-18.628572 l 0,2.057144 -3.4285716,0 0,3.428571 3.4285716,0 0,3.4285718 -3.4285716,0 0,3.4285709 3.4285716,0 0,3.4285715 -3.4285716,0 0,3.4285712 3.4285716,0 z";*/
    /*-fx-scale-shape: false;*/
    /*-fx-background-color: white;*/
    /*-fx-position-shape: true;*/
    /*-fx-padding: 15 0 15 0;*/
    /*[>-fx-graphic: url("../images/collection.png");<]*/
/*}*/

/*
.switcher-button#browse
{
    -fx-graphic: url("../images/browse.png");
}
.switcher-button#download
{
    -fx-graphic: url("../images/downloads.png");
}
.switcher-button#chat
{
    -fx-graphic: url("../images/chat.png");
}
.switcher-button#settings
{
    -fx-graphic: url("../images/settings.png");
}
*/

/*
 * Function bar styles
 */
.function-bar
{
    -fx-cursor: move;
}
.function-bar-box
{
    -fx-padding: 0 0 0 10;

    /*-fx-background-color: #ededed;*/
    -fx-background-color: white;

    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
    -fx-border-color: #D0D1D2;
}

.functionbar-button
{
    -fx-padding: 20;
    -fx-background-color: transparent;
}
.functionbar-button:hover
{
}

.functionbar-button .svg
{
    -fx-fill: gray;
}

.functionbar-button:hover .svg,
.functionbar-button:selected .svg
{
    -fx-fill: cornflowerblue;
}

.standard-collection-functionbar,
.standard-collection-functionbar .tools-box
{
    -fx-alignment: center;
}
.standard-collection-functionbar,
.standard-collection-functionbar .tools-box
{
    -fx-spacing: 10;
}
.standard-collection-functionbar .auto-complete-field
{
    -fx-pref-width: 225;
}
.standard-collection-functionbar .auto-complete-field .combo-box .arrow-button,
.standard-collection-functionbar .auto-complete-field .combo-box .arrow
{
    visibility: hidden;
    -fx-background-color: null;
}
.standard-collection-functionbar .auto-complete-field .combo-box,
.standard-collection-functionbar .auto-complete-field .combo-box .text-field
{
    -fx-background-color: null;
}
.standard-collection-functionbar .auto-complete-field .combo-box:hover .text-field
{
    -fx-prompt-text-fill: cornflowerblue;
}
.standard-collection-functionbar .auto-complete-field .combo-box:focused .text-field
{
    -fx-prompt-text-fill: transparent;
}
.standard-collection-functionbar .auto-complete-field .combo-box .text-field
{
    -fx-pref-height: 35;
    -fx-font: 25 'Ubuntu';

    -fx-text-fill: dimgray;

    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}
.standard-collection-functionbar .auto-complete-field .combo-box .text-field .text
{
    -fx-font-smoothing-type: gray;
}

.editor-collection-functionbar
{
    -fx-alignment: center;
}

.function-bar .logo-view
{
    -fx-image: url("../images/logo.png");
}
.function-bar.compact .logo-view
{
    -fx-image: url("../images/logo-compact.png");
}

.function-bar .logo-box
{
    -fx-padding: 10 19 10 20;
    -fx-background-color: #1A1A1A;
}
.function-bar.compact .logo-box
{
    -fx-padding: 10 16 10 16;
}

/*
 * Collection grid cell styles
 */
.cover-clip-rectangle
{
    -fx-arc-height: 14;
    -fx-arc-width: 14;
}

.shading-rectangle,
.collection-grid-box .front-pane .shading-rectangle
{
    -fx-arc-height: 14;
    -fx-arc-width: 14;
    -fx-opacity: 0.7;
    -fx-fill: black;
}

.collection-grid-box .title-label,
.collection-grid-box .total-units-label
{
    -fx-text-fill: #515151;
}

.collection-grid-box .title-label .text
{
    -fx-font: 17 'Ubuntu';
    -fx-font-smoothing-type: gray;
}

.collection-grid-box .total-units-label .text
{
    -fx-font: 15 'Ubuntu';
    -fx-font-smoothing-type: gray;
}

.title-box
{
    -fx-padding: 10 0 0 0;
}

.collection-grid-box .tools-pane
{
    -fx-padding: 7 10 7 10;
}

.tools-pane .play-button
{
    -fx-graphic: url("../images/play.png");

    -fx-background-color: null;
}

.progress-buttons-box .progress-button
{
    -fx-background-color: null;
}

.progress-buttons-box
{
    -fx-alignment: center;
}

.progress-buttons-box .progress-button,
.progress-buttons-box .progress-label
{
    -fx-text-fill: white;
}

.progress-pane .progress-bar
{
    -fx-background-radius: 60;
    -fx-background-insets: 0;
}
.progress-pane .progress-bar .track
{
    -fx-background-color: #3C4C55;
    -fx-background-radius: 60;
    -fx-background-insets: 0;
}
.progress-pane .progress-bar .bar
{
    -fx-background-color: #CC4D4D;
    -fx-background-radius: 60;
    -fx-background-insets: 0;
}

.tools-pane
{
    -fx-alignment: center;
}
.tools-pane .tools-box
{
    -fx-spacing: 10;
    -fx-alignment: center;
}

.tools-pane .tools-box .button
{
    -fx-background-color: null;
    -fx-padding: 0;
}

.tools-box .button#options
{
    -fx-graphic: url("../images/options.png");
}
.tools-box .button#options:hover
{
    -fx-graphic: url("../images/options_hover.png");
}

.tools-box .button#chat
{
    -fx-graphic: url("../images/chat_now.png");
}
.tools-box .button#chat:hover
{
    -fx-graphic: url("../images/chat_now_hover.png");
}

.collection-grid-box .score-label .text
{
    -fx-font: 15 'Roboto Bold';
    -fx-font-smoothing-type: gray;
    -fx-fill: white;
    -fx-alignment: center;
}

.collection-grid-box .score-graphic,
.collection-list-box .score-graphic
{
    -fx-alignment: center;
    -fx-fill: gold;
}

.collection-grid-box .score-box
{
    -fx-alignment: center;
}

/*
 * Inline popup styles
 */
.blocking-region
{
    -fx-background-color: black;
}
.blocking-region-transparent
{
    -fx-background-color: transparent;
}

.inline-popup
{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 4;   
    -fx-padding: 12;
    -fx-effect: dropshadow(gaussian, black, 10, 0.1, 0, 0);
}

/*
 * Add series popup styles
 */
.add-series-popup .top-box,
.add-series-popup .bottom-box
{
    -fx-spacing: 10;
}

.add-series-popup .center-pane
{
    -fx-padding: 10 0 10 0;
}

.add-series-popup .center-pane .label
{
    -fx-alignment: center;
    -fx-font: 20 'Ubuntu';
}
.add-series-popup .center-pane .label .text
{
    -fx-font-smoothing-type: gray;
}
.add-series-popup .center-box
{
    -fx-alignment: center;
    -fx-spacing: 10;
}
.add-series-popup .center-pane .master-detail-pane .detail-box
{
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-spacing: 10;
}
.add-series-popup .center-pane .master-detail-pane .detail-box .button-box
{
    -fx-spacing: 10;
}


/*
 * Collection info popover styles
 */
.collection-info-popover .border
{
    -fx-fill: #141415;
    -fx-opacity: 0.9;
}

.collection-info-popover .root
{
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-background-color: transparent;
}

.collection-info-popover .root .label
{
    -fx-text-fill: #F9F9F9;
    -fx-font: 15 'Ubuntu';
    -fx-opacity: 1.0;
}
.collection-info-popover .root .label#title .text
{
    -fx-font-size: 17;
}
.collection-info-popover .root .label#genres .text
{
    -fx-font-style: italic;
}

/*
 * Auto complete field styles
 */
.auto-complete-field .button
{
    -fx-background-color: null;
}
.auto-complete-field .button .svg
{
    -fx-fill: grey; 
}
.auto-complete-field .button .svg.hover
{
    -fx-fill: crimson; 
}

/*
 * Settings collection page
 */
.settings-collection-page
{
    -fx-alignment: center;
}

.sync-provider-box,
.sync-enable-box
{
    -fx-spacing: 10;
}

.sync-enable-box > .radio-button
{
    
}

/*
 * Progress page
 */
.progress-page
{
    -fx-alignment: center;
    -fx-spacing: 10;
}

.progress-page .label
{
    -fx-font: 15 'Ubuntu';
}

/*
 * Series option popup styles
 */
.series-options-popup
{
    -fx-max-height: 350;
    -fx-max-width: 200;
}

.series-options-general-tab
{
    -fx-alignment: center;
}

.series-options-general-tab > .center-box
{
    -fx-alignment: center;
}

/*
 * Episode popup styles
 */
.episode-popup .detail-box
{
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
}

.episode-popup .label
{
    -fx-alignment: center;
}

/*
 * Hamburger popup styles
 */
.hamburger-box .segmented-button
{
    -fx-alignment: center;
}

.hamburger-box .segmented-button .toggle-button
{
    -fx-background-color: #32383D;
    -fx-background-insets: 0;

    -fx-text-fill: white;
    -fx-padding: 10;

    -fx-border-color: #495259;
    -fx-border-width: 1 0 0 0;
    -fx-border-insets: 1;
}

.hamburger-box .segmented-button .toggle-button .text
{
    -fx-font: 18 'Roboto Bold';
    -fx-font-smoothing-type: gray;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 0.5, 1.0, 0, 1)
}

.hamburger-box .segmented-button .toggle-button:selected
{
    -fx-background-color: linear-gradient(to top, #5883D1, #6495ED);
    -fx-border-color: #6BA1FF;
    -fx-text-fill: white;
}
/*.hamburger-popup .segmented-button .toggle-button.center-pill:selected*/
/*{*/
/*}*/

/*.hamburger-popup .segmented-button .toggle-button.left-pill*/
/*{*/
/*}*/

/*.hamburger-popup .segmented-button .toggle-button.right-pill*/
/*{*/
/*}*/

/*.hamburger-popup .segmented-button .toggle-button.center-pill*/
/*{*/
/*}*/

.hamburger-popup
{
    /*-fx-pref-width: 300;*/
    /*-fx-padding: 20 10 20 20;*/

    /*-fx-background-color: white;*/
    /*-fx-pref-height: 500;*/

    /*-fx-background-radius: 0 0 3 3;*/
    /*-fx-background-insets: 0 0 10 10;*/
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 1, 1);*/
}
.hamburger-box
{
    -fx-pref-width: 200;
    -fx-pref-height: 350;

    -fx-spacing: 20;
    -fx-alignment: center;
}

/*
 * Add series hamburger popup styles
 */
.hamburger-box .add-series-box .add-box > .button
{
    -fx-background-color: linear-gradient(to top, #5F922A, #7AAF2A);
    -fx-background-radius: 3;

    -fx-border-color: #527E1A, #91BE31;
    -fx-border-radius: 3, 3;
    -fx-border-insets: 0, 1;
    -fx-border-style: solid;
    -fx-border-width: 1, 1 0 0 0;

    -fx-padding: 3;
}

.hamburger-box .add-series-box .add-box > .button .text
{
    -fx-fill: white;
    -fx-font: 14 'Roboto Bold';
    -fx-font-smoothing-type: gray;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 0.5, 1.0, 0, 1)
}

.hamburger-box .add-series-box,
.hamburger-box .add-series-box .add-box
{
    -fx-spacing: 10;
}

.hamburger-box .add-series-box .add-box .auto-complete-field .combo-box .arrow-button
{
    -fx-background-color: null;
}

.hamburger-box .add-series-box .add-box .auto-complete-field
{
    -fx-pref-height: 32;
}
.hamburger-box .add-series-box .add-box .auto-complete-field .combo-box
{
    -fx-background-color: null;
    -fx-border-color: #BCBDBF;
    -fx-border-radius: 2;
}
.hamburger-box .add-series-box .add-box .auto-complete-field .combo-box .text-field
{
    -fx-background-color: null;
    -fx-font: 15 'Ubuntu';
}
.hamburger-box .add-series-box .add-box .auto-complete-field .combo-box .text-field .text
{
    -fx-font-smoothing-type: gray;
}

.hamburger-box .add-series-box .add-box .auto-complete-field .clear-button
{
    -fx-translate-x: 80;
}

.hamburger-box .add-series-box .add-box .auto-complete-field .combo-box .list-view .list-cell .text
{
    -fx-font: 15 'Ubuntu';
    -fx-font-smoothing-type: gray;
}

.hamburger-box .add-series-box .scroll-pane
{
    -fx-background: null;
}
.hamburger-box .add-series-box .scroll-pane .accordion
{
    -fx-background-color: null;
}

.hamburger-box .add-series-box .finish-box .done-button
{
    -fx-background-color: linear-gradient(to top, #5B88D9, #6495ED);

    -fx-border-color: #486CAB, #7FADFF;
    -fx-border-width: 1, 1 0 0 0;
    -fx-border-insets: 0, 1;
    -fx-border-radius: 3;
}
.hamburger-box .add-series-box .finish-box .clear-button
{
    -fx-background-color: salmon;

    -fx-border-color: #BF6257, #F99C91;
    -fx-border-width: 1, 1 0 0 0;
    -fx-border-insets: 0, 1;
    -fx-border-radius: 3;
}
.hamburger-box .add-series-box .finish-box .done-button .text,
.hamburger-box .add-series-box .finish-box .clear-button .text
{
    -fx-font: 14 'Roboto Bold';
    -fx-font-smoothing-type: gray;
    -fx-fill: white;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 0.5, 1.0, 0, 1)
}

.add-series-pane .title
{
    -fx-pref-height: 40;

    -fx-background-color: linear-gradient(to top, #ECECEC, #F5F5F5);
    -fx-background-radius: 3;

    -fx-border-radius: 3;
    -fx-border-color: #B0B0B0, white;
    -fx-border-width: 1, 1 0 0 0;
    -fx-border-insets: 0, 1;
}

.add-series-pane:hover .title
{
}
.add-series-pane:focused .title
{
}

.add-series-pane:focused .title .text
{
    -fx-fill: cornflowerblue;
}

.add-series-pane .title .arrow-button
{
    visibility: hidden;
}

.add-series-pane .title .text
{
    -fx-fill: #414141;
    -fx-font: 15 'Ubuntu';
    -fx-font-smoothing-type: gray;

    -fx-alignment: center;
    -fx-translate-y: -7;
}

.add-series-pane .content .list-view
{
    -fx-max-height: 100;
}

/*
 * Hamburger episode popover styles
 */
.hamburger-episode-popover-box
{
    -fx-spacing: 10;
    -fx-padding: 10;
}

/*
 * Hamburger progress popup styles
 */
.hamburger-box .progress-box
{
    -fx-alignment: center;
}

/*
 * Hamburger sync popup styles
 */
.hamburger-box .sync-box .sync-button
{
    -fx-padding: 15 20 15 20;
    
    -fx-background-color: linear-gradient(to top, #FF7F50, #E67248);

    -fx-border-color: #BA5D3A, #FF9C77;
    -fx-border-width: 1, 1 0 0 0;
    -fx-border-insets: 0, 1;
    -fx-border-radius: 3;
}
.hamburger-box .sync-box .sync-button .text
{
    -fx-font: 16 'Roboto Bold';
    -fx-font-smoothing-type: gray;
    -fx-fill: white;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 0.5, 1.0, 0, 1)
}

/*
 * Filter popover styles
 */
.collection-filter-popover .filter-box
{
    -fx-alignment: center;
    -fx-spacing: 10;
}

/*
 * Grid cell back pane styles
 */
.collection-grid-box .back-pane .flip-button
{
    -fx-content-display: graphic-only;
    -fx-background-color: null;
}
.collection-grid-box .back-pane .flip-button .flip-graphic
{
    -fx-fill: grey;
}

/*
 * Episode info popover styles
 */
.episode-info-popover .border
{
    -fx-fill: #141415;
    -fx-opacity: 0.9;
}
.episode-info-popover-box
{
    -fx-spacing: 10;
    -fx-padding: 10;
}
.episode-info-popover-box .label .text
{
    -fx-fill: dimgrey;
}

.episode-info-popover-box .canvas-box .progress-bar .bar
{
    -fx-background-color: #E73E4A;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 2;
}
.episode-info-popover-box .canvas-box .progress-bar .track
{
    -fx-background-color: black;
    -fx-background-radius: 0;
}
.episode-info-popover-box .canvas-box .preview-canvas:pressed
{
    -fx-cursor: se-resize;
}


/*
 * Episode list cell styles
 */
.episode-list-cell .episode-box .button
{
    -fx-background-color: null;
}

.episode-list-cell .episode-action-box
{
    -fx-spacing: 5;
    visibility: hidden;
}
.episode-list-cell:hover .episode-action-box
{
    visibility: visible;
}

.episode-list-cell .info-graphic
{
    -fx-shape: "m -9.74698,20 c -0.74018,0 -1.28296,-0.45668 -0.76482,-2.4661 l 0.8498,-3.56398 c 0.14798,-0.57078 0.17234,-0.79898 0,-0.79898 -0.22218,0 -1.18314,0.39424 -1.75126,0.7826 l -0.36974,-0.6167 c 1.80082,-1.52964 3.87268,-2.42676 4.76056,-2.42676 0.7399,0 0.86352,0.89068 0.4935,2.26086 L -7.5018,16.9172 c -0.17276,0.66206 -0.09842,0.8904 0.07378,0.8904 0.22204,0 0.95032,-0.27482 1.66558,-0.84574 L -5.343,17.53278 C -7.09468,19.314 -9.0068,20 -9.74698,20 M -6.86032,6 c 0.9373,0 1.40602,0.63938 1.40602,1.37046 0,0.91322 -0.81396,1.7577 -1.87474,1.7577 -0.88802,0 -1.40616,-0.52528 -1.38166,-1.39272 C -8.7107,7.00464 -8.094,6 -6.86032,6";
}
.episode-list-cell .info-graphic:hover
{
    -fx-background-color: mediumseagreen;
}
.episode-list-cell .play-graphic
{
    -fx-shape: "m -39.052495,-26.233292 -8.323611,5.156685 c -0.606475,0.397835 -1.102894,0.1052 -1.102894,-0.650613 l 0,-10.01023 c 0,-0.755225 0.496419,-1.04806 1.102894,-0.65042 l 8.323611,5.156491 c 0,0 0.295752,0.208057 0.295752,0.49914 0,0.29089 -0.295752,0.498947 -0.295752,0.498947";
}
.episode-list-cell .play-graphic:hover
{
    -fx-background-color: royalblue;
}
.episode-list-cell .delete-graphic
{
    -fx-shape: "m -39.95425,-74.060514 -1.086805,-1.162152 -1.419097,0 -1.086632,1.162152 -1.475695,0 c 0,0 1.617014,-1.92691 1.832639,-2.188195 0.165104,-0.200346 0.333681,-0.276041 0.552431,-0.276041 l 1.773438,0 c 0.218923,0 0.387152,0.07569 0.552604,0.276041 0.215451,0.261285 1.832812,2.188195 1.832812,2.188195 l -1.475695,0 z m 0.952431,-1.933507 -0.74566,-0.826909 c -0.287847,-0.409029 -0.599826,-0.48507 -1.208159,-0.48507 l -1.589931,0 c -0.608333,0 -0.92066,0.07604 -1.20816,0.48507 l -0.74566,0.826909 c -2.231076,0.389931 -3.848611,1.423785 -3.848611,2.185591 l 0,0.148264 c 0,1.342361 2.95382,2.430555 6.597223,2.430555 3.643923,0 6.597222,-1.088194 6.597222,-2.430555 l 0,-0.148264 c 0,-0.761806 -1.617014,-1.79566 -3.848264,-2.185591 m -8.488195,5.208681 0.956598,8.427778 c 0.05139,0.400868 1.984549,1.716146 4.782639,1.718229 2.798437,-0.0021 4.731597,-1.317361 4.78316,-1.718229 l 0.95625,-8.427778 c -1.461459,0.817361 -3.646181,1.205035 -5.73941,1.205035 -2.093057,0 -4.277778,-0.387674 -5.739237,-1.205035";
}
.episode-list-cell .delete-graphic:hover
{
    -fx-background-color: crimson;
}

.episode-list-cell .play-graphic,
.episode-list-cell .info-graphic,
.episode-list-cell .delete-graphic
{
    -fx-scale-shape: false;
    -fx-background-color: grey;
    -fx-position-shape: true;
}

/*
 * Confirmation popup styles
 */
.confirmation-box
{
    -fx-max-width: 200;
}

/*
 * Collection list view styles
 */
.collection-list-view
{
    -fx-background-insets: 0;
    -fx-padding: 0 5 0 0;
}
.collection-list-view .list-cell:filled
{
    -fx-background-color: null;
}
.collection-list-view .list-cell:filled .title-label .text,
.collection-list-view .list-cell:filled .score-label .text
{
    -fx-fill: black;
}

.collection-list-view .scroll-bar,
.collection-list-view .scroll-bar .track,
.collection-list-view .scroll-bar .track-background
{
    -fx-background-color: null; 
    -fx-border-color: null;
}
.collection-list-view .scroll-bar .thumb
{
    -fx-background-color: silver;
    -fx-background-radius: 3;
}
.collection-list-view .scroll-bar .thumb:hover
{
    -fx-background-color: cornflowerblue;
}
.collection-list-view .scroll-bar:vertical .increment-button,
.collection-list-view .scroll-bar:vertical .decrement-button,
.collection-list-view .scroll-bar:vertical .increment-arrow,
.collection-list-view .scroll-bar:vertical .decrement-arrow
{
    visibility: hidden;
}

.collection-list-box
{
    -fx-spacing: 10;
    -fx-alignment: center;
}

.collection-list-box .progress-label .text
{
    -fx-fill: white;
}

.collection-list-box .title-label .text
{
    -fx-font: 15 'Ubuntu';
    -fx-font-smoothing-type: gray;
}

.collection-list-box .score-box
{
    -fx-alignment: center;
    -fx-spacing: 3;
}

.collection-list-box .score-box .score-label .text
{
    -fx-font: 15 'Ubuntu';
    -fx-font-smoothing-type: gray;
}

.collection-list-box .progress-button-box
{
    -fx-spacing: 3;
    -fx-alignment: center;
}

.collection-list-box .progress-pane:hover .increase-progress-button,
.collection-list-box .progress-pane:hover .decrease-progress-button
{
    visibility: visible;
}

.collection-list-box .button-box
{
    -fx-alignment: center;
}

.collection-list-box .increase-progress-button,
.collection-list-box .decrease-progress-button
{
    -fx-background-color: null;
    -fx-padding: 0;
    -fx-text-fill: white;

    visibility: hidden;
}

.collection-list-box .type-label .text
{
    -fx-fill: white;
    -fx-font: 15 'Roboto Bold';
    -fx-font-smoothing-type: gray;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 0.5, 1.0, 0, 1)
}

.collection-list-box .type-rectangle
{
    -fx-arc-height: 7;
    -fx-arc-width: 7;
}

.collection-list-box .type-rectangle#tv
{
    -fx-fill: #5A92D5;
}
.collection-list-box .type-rectangle#movie
{
    -fx-fill: #BB554D;
}
.collection-list-box .type-rectangle#special
{
    -fx-fill: #F5942D;
}
.collection-list-box .type-rectangle#ova,
.collection-list-box .type-rectangle#ona
{
    -fx-fill: #67C081;
}
.collection-list-box .type-rectangle#default
{
    -fx-fill: grey;
}

/*
 * Half incremental rating styles
 */
.half-incremental-rating .left-half-star-path,
.half-incremental-rating .right-half-star-path
{
    -fx-fill: gray;
}

.half-incremental-rating .left-half-star-path.filled,
.half-incremental-rating .right-half-star-path.filled,
.half-incremental-rating .left-half-star-pane:hover .left-half-star-path,
.half-incremental-rating .right-half-star-pane:hover .right-half-star-path
{
    -fx-fill: gold;
}

/*
 * Floating popup styles
 */
.floating-popup
{
    -fx-background-color: white;
    -fx-background-radius: 3;
    -fx-effect: dropshadow(gaussian, black, 5, 0.1, 0, 0);
    -fx-padding: 10;
}

/*
 * Score popup styles
 */
.score-popup-box
{
    -fx-spacing: 10;

    -fx-alignment: center;

    -fx-pref-width: 130;
    -fx-max-width: 170;
}

/*
 * Progress popup styles
 */
.progress-popup-box
{
    -fx-alignment: center;
}

.progress-popup-box .progress-field
{
    -fx-background-color: null;

    -fx-border-width: 0 0 3 0;
    -fx-border-color: cornflowerblue;

    -fx-max-width: 50;
    -fx-font: 17 'Roboto Medium';
    -fx-text-fill: grey;
    -fx-alignment: center;
}

.progress-popup-box .total-units-field
{
    -fx-background-color: null;
    -fx-max-width: 50;
    -fx-font: 17 'Roboto Medium';
    -fx-text-fill: grey;
    -fx-alignment: center;
}

/*
 * Embedded popover styles
 */
.embedded-popover
{
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 1, 1);
    -fx-background-insets: 10;
    -fx-padding: 10;
}

/*
    Embedded popup styles
*/
.embedded-popup
{
    -fx-background-color: white;
    -fx-background-radius: 4;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 1, 1);
    -fx-background-insets: 10;
    -fx-padding: 15;
}

