<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Zenbu is a cross-platform, multi functional anime/manga management client with a modern UI and exceptional features
  ~ Copyright (C) 2014 Vincent Szolnoky a.k.a. Ippytraxx
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ under the terms of the GNU General Public License as published by
  ~ Free Software Foundation, either version 3 of the License, or
  ~ at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="db.mappers.subgroupmapper">
    <!--Selects-->
    <select id="selectSubgroup" resultType="Subgroup">
        SELECT * FROM Subgroup WHERE id = #{id} AND episode = #{episode};
    </select>

    <!--Inserts-->
    <insert id="insertSubgroup" parameterType="Subgroup">
        INSERT INTO Subgroup (id, episode, subgroup) VALUES (#{id}, #{episode}, #{subgroup});
    </insert>
</mapper>
