<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Zenbu is a cross-platform, multi functional anime/manga management client with a modern UI and exceptional features
  ~ Copyright (C) 2014 Vincent Szolnoky a.k.a. Ippytraxx
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ under the terms of the GNU General Public License as published by
  ~ Free Software Foundation, either version 3 of the License, or
  ~ at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="moe.zenbu.app.beans.Anime"/>
        <typeAlias type="moe.zenbu.app.beans.Title"/>
        <typeAlias type="moe.zenbu.app.beans.Genre"/>
        <typeAlias type="moe.zenbu.app.beans.Setting"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!--<property name="url" value="jdbc:mysql://192.168.254.33/Zenbu"/>-->
                <property name="url" value="jdbc:mysql://localhost/Zenbu"/>
                <property name="username" value="zenbu"/>
                <property name="password" value="pass"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="db/mappers/animemapper.xml"/>
        <mapper resource="db/mappers/titlemapper.xml"/>
        <mapper resource="db/mappers/genremapper.xml"/>
        <mapper resource="db/mappers/settingmapper.xml"/>
    </mappers>
</configuration>
